@use "../../abstracts/index"as *;

.box-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    @include transition3;
    cursor: pointer;
}

.social-color {
    --facebook-cl: rgb(59, 89, 152);
    --x-cl: rgb(85, 85, 85);
    --instagram-cl: linear-gradient(#8a3ab9, #e95950, #fccc63);
    --threads-cl: rgb(224, 53, 102);
    --youtube-cl: rgb(205, 32, 31);
    --tiktok-cl: linear-gradient(#25f4ee, #000, #fe2c55);
    --tiktok-cl2: rgb(254, 44, 85);
    --pinterest-cl: rgb(203, 32, 39);
    --tumblr-cl: rgb(55, 69, 92);
    --vimeo-cl: rgb(26, 183, 234);
    --snapchat-cl: rgb(255, 221, 0);
    --whatsapp-cl: rgb(0, 230, 118);
    --linked_in-cl: rgb(23, 106, 255);
    --wechat-cl: rgb(26, 173, 24);
    --reddit-cl: rgb(255, 69, 0);
    --line-cl: rgb(0, 195, 77);
    --spotify-cl: rgb(30, 125, 96);

    a {
        position: relative;
        overflow: hidden;

        &::after {
            content: "";
            // border-radius: 50%;
            position: absolute;
            background: transparent;
            top: -1px;
            left: -1px;
            right: -1px;
            bottom: -1px;
            z-index: 0;
            @include transition3;
            @include hidden;
        }
    }

    .social-facebook {
        &::after {
            background: var(--facebook-cl);
        }

        &:hover {
            color: var(--white);

            &::after {
                @include visible;
            }
        }
    }

    .social-instagram {
        &::after {
            background: var(--instagram-cl);
        }

        &:hover {
            color: var(--white);

            &::after {
                @include visible;
            }
        }
    }

    .social-x {
        &::after {
            background: var(--x-cl);
        }

        &:hover {
            color: var(--white);

            &::after {
                @include visible;
            }
        }
    }

    .social-snapchat {
        &::after {
            background: var(--snapchat-cl);
        }

        &:hover {
            color: var(--white);

            &::after {
                @include visible;
            }
        }
    }

    .social-pinterest {
        &::after {
            background: var(--pinterest-cl);
        }

        &:hover {
            color: var(--white);

            &::after {
                @include visible;
            }
        }
    }

    .social-linkin {
        &::after {
            background: var(--linked_in-cl);
        }

        &:hover {
            color: var(--white);

            &::after {
                @include visible;
            }
        }
    }

    .social-tiktok {
        &::after {
            background: var(--tiktok-cl);
        }

        &:hover {
            color: var(--white);

            &::after {
                @include visible;
            }
        }
    }
}

.tf-social-icon-2 {
    display: flex;
    align-items: center;
    gap: 8px;

    a {
        @include flex(center, center);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid var(--line);

        &:hover {
            border-color: var(--primary);
            background-color: var(--primary);
            color: var(--white);
        }
    }

    .icon {
        font-size: 24px;
    }

    &.style-2 {
        a {
            width: 32px;
            height: 32px;

            &:hover {
                border-color: var(--text);
                background-color: var(--text);
            }
        }

        .icon {
            font-size: 16px;
        }
    }

    &.hv-dark {
        a {

            &:hover {
                border-color: var(--text);
                background-color: var(--text);
            }
        }
    }

    @include res(xl, min) {
        a {
            width: 44px;
            height: 44px;
        }
    }
}

.box-icon_V01 {
    text-align: center;
    position: relative;

    .icon {
        font-size: 40px;
        // color: var(--black);
        margin-bottom: 20px;
        display: inline-flex;
        transition-duration: .5s;
    }

    .title {
        margin-bottom: 8px;
    }

    &:hover {
        .icon {
            transform: scale(1.1);
            transition-timing-function: cubic-bezier(0.47, 2.02, .31, -.36);
        }
    }

    &.has-line {

        .icon{
            font-size: 60px;
        }

        &::after {
            content: "";
            position: absolute;
            right: -30px;
            top: 50%;
            transform: translateY(-50%);
            height: 80px;
            width: 1px;
            background-color: var(--line);
        }


        @include res(xl) {
            &::after {
                right: -16px;
            }
        }

        @include res(md) {
            &::after {
                right: -6px;
            }
        }

    }

    &.style-2 {
        .icon {
            margin-bottom: 16px;
        }
    }

    @include res(sm, min) {
        &.style-3 {
            display: flex;
            align-items: center;
            gap: 20px;
            text-align: start;

            .icon {
                margin-bottom: 0;
                font-size: 60px;
            }
        }
    }

    @include res(lg, min) {
        .icon {
            font-size: 48px;
        }
    }

    @include res(xl, min) {
        &.style-2 {
            .icon {
                font-size: 60px;
            }
        }

    }

}

.box-icon_V02 {
    text-align: center;
    padding: 31px;
    border: 1px solid var(--white-10);
    border-radius: 12px;
    display: grid;
    gap: 16px;

    .icon {
        font-size: 60px;
        transition-duration: .5s;
    }

    &:hover {
        .icon {
            transform: scale(1.1);
            transition-timing-function: cubic-bezier(0.47, 2.02, .31, -.36);
        }
    }

    &.style-2 {}

    @include res(xl) {
        .icon {
            font-style: 40px;
        }
    }

    @include res(md) {
        padding: 20px 15px;
    }
}

.box-icon_V03 {
    text-align: start;
    place-items: start;
    background: #FFFFFF0F;
    border: 0;
    padding: 20px;
    border-radius: 8px;
    display: grid;

    .icon {
        font-size: 60px;
        transition-duration: .5s;
    }

    .ic-wrap {
        margin-bottom: 20px;
    }

    .tf-btn-line-2 {
        padding-bottom: 2px;
    }

    &:hover {
        .icon {
            transform: scale(1.1);
            transition-timing-function: cubic-bezier(0.47, 2.02, .31, -.36);
        }
    }

    @include res(xl) {
        .icon {
            font-style: 40px;
        }
    }
}