@use "../../abstracts/index"as *;

.tf-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    height: 44px;
    padding-left: 24px;
    padding-right: 24px;
    position: relative;
    background: var(--text);
    color: var(--white);
    border-radius: 60px;
    font-weight: 600;
    @include transition3;

    &.btn-white {
        background: var(--white);
        color: var(--text);
    }

    &.btn-primary {
        background: var(--primary);
    }

    &.btn-stroke {
        border: 1px solid var(--text);

        &:not(:hover) {
            background: transparent;
            color: var(--text);
        }
    }

    &.btn-stroke-2 {
        border: 2px solid var(--white-10);
        background: transparent;
    }

    &.small {
        height: 42px;
        padding-left: 24px;
        padding-right: 24px;

        &.w-100 {
            padding-left: 12px;
            padding-right: 12px;
        }
    }

    &.small-2 {
        height: 46px;
        padding-left: 28px;
        padding-right: 28px;
    }

    &.s-small {
        height: 32px;
        padding-left: 20px;
        padding-right: 20px;
    }

    &.type-xl {
        height: 50px;
    }

    &.style-2 {
        border-radius: 12px;
    }

    @include res(xl, min) {
        height: 58px;
        padding-left: 32px;
        padding-right: 32px;
    }
}

.animate-btn {
    position: relative;
    overflow: hidden;

    &:hover {
        &::after {
            animation: shine-reverse 1s forwards;
        }
    }

    &.w-100 {
        &:hover {
            &::after {
                animation: shine-reverse 1.5s forwards;
            }
        }
    }
}

.animate-btn:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg,
            rgba(255, 255, 255, 0) 30%,
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0) 70%);
    top: 0;
    left: -100%;
    opacity: 0.6;
}

button.animate-btn::after,
.animate-btn.tf-btn::after {
    background-image: linear-gradient(120deg, rgba(0, 0, 0, 0) 20%, rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0) 70%);
}

.animate-btn.animate-dark::after {
    background-image: linear-gradient(90deg, transparent, rgb(0 0 0 /0.7), transparent);
}

.animate-btn.animate-primary::after {
    background-image: linear-gradient(90deg, transparent, rgb(220, 70, 70), transparent);
}


.tf-loading {
    // font-size: 14px;
    // line-height: 20px;
    // width: auto;
    // height: 42px;
    min-width: 120px;
    // padding: 10px;

    &.loadmore {
        .spinner-circle {
            display: none;
        }

        &.loading {
            .spinner-circle {
                display: block;
            }

            .text {
                display: none;
            }
        }

        &:hover {
            .spinner-child {
                &::before {
                    background-color: var(--white);
                }
            }
        }

        .spinner-child {
            &::before {
                background-color: var(--bg);
                @include transition3;
            }
        }
    }
}


.spinner-circle {
    width: 24px;
    height: 24px;
    position: relative;

    .spinner-child {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;

        &::before {
            content: "";
            display: block;
            margin: 0 auto;
            width: 20%;
            height: 20%;
            background-color: var(--white);
            border-radius: 100%;
            -webkit-animation: spinner-circleBounceDelay 1s infinite ease-in-out both;
            animation: spinner-circleBounceDelay 1s infinite ease-in-out both;
        }
    }

    .spinner-circle2 {
        -webkit-transform: rotate(40deg);
        -ms-transform: rotate(40deg);
        transform: rotate(40deg);

        &::before {
            -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s;
        }
    }

    .spinner-circle3 {
        -webkit-transform: rotate(80deg);
        -ms-transform: rotate(80deg);
        transform: rotate(80deg);

        &::before {
            -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s;
        }
    }

    .spinner-circle4 {
        -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
        transform: rotate(120deg);

        &::before {
            -webkit-animation-delay: -0.7s;
            animation-delay: -0.7s;
        }
    }

    .spinner-circle5 {
        -webkit-transform: rotate(160deg);
        -ms-transform: rotate(160deg);
        transform: rotate(160deg);

        &::before {
            -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s;
        }
    }

    .spinner-circle6 {
        -webkit-transform: rotate(200deg);
        -ms-transform: rotate(200deg);
        transform: rotate(200deg);

        &::before {
            -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s;
        }
    }

    .spinner-circle7 {
        -webkit-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
        transform: rotate(240deg);

        &::before {
            -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s;
        }
    }

    .spinner-circle8 {
        -webkit-transform: rotate(280deg);
        -ms-transform: rotate(280deg);
        transform: rotate(280deg);

        &::before {
            -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s;
        }
    }

    .spinner-circle9 {
        -webkit-transform: rotate(320deg);
        -ms-transform: rotate(320deg);
        transform: rotate(320deg);

        &::before {
            -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s;
        }
    }
}


.tf-btn-line-2 {
    color: var(--text-2);
    position: relative;
    @include transition3;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: linear-gradient(to right, var(--text) 50%, var(--text-2) 50%);
    background-size: 200% 100%;
    background-position: right;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-position 0.3s linear;
    cursor: pointer;

    &::after {
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        bottom: 0px;
        height: 2px;
        background-color: var(--text-2);
        @include transition3;
    }

    &::before {
        position: absolute;
        content: "";
        left: 0;
        width: 0;
        bottom: 0px;
        height: 2px;
        background-color: var(--text);
        transition: width 0.3s linear;
        z-index: 1;
    }

    &.style-min {

        &::after,
        &::before {
            height: 1px;
        }
    }

    &.style-white {
        color: var(--white);
        background: linear-gradient(to right,
                var(--primary) 50%,
                var(--white) 50%);
        background-size: 200% 100%;
        background-position: right;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: background-position 0.3s linear;

        &::after {
            background-color: var(--white);
        }

        &::before {
            background-color: var(--primary);
        }
    }

    &.style-primary {
        color: var(--text);
        background: linear-gradient(to right,
                var(--primary) 50%,
                var(--text) 50%);
        background-size: 200% 100%;
        background-position: right;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: background-position 0.3s linear;

        &::after {
            background-color: var(--text);
        }

        &::before {
            background-color: var(--primary);
        }
    }

    &:hover {
        background-position: left;

        &::before {
            width: 100%;
        }
    }

    &.active {
        background-position: left;

        &::before {
            width: 100%;
        }
    }
}

.tf-btn-line-3 {
    position: relative;
    @include transition3;
    display: inline-flex;
    align-items: center;

    &::before {
        content: "";
        position: absolute;
        height: 1px;
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--text);
        @include transition3;
    }

    &:hover {
        color: var(--primary);

        &::before {
            background: var(--primary);
        }
    }

    &.type-primary {
        color: var(--primary);

        &::before {
            background: var(--primary);
        }
    }
}

.tf-btn-line {
    display: inline-flex;
    position: relative;
    color: var(--text-2);

    &::after {
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        bottom: 0;
        height: 1px;
        background-color: var(--text-2);
        @include transition3;
        @include hidden;
    }

    &:hover {
        color: var(--text);

        &::after {
            @include visible;
        }
    }
}

.tf-btn-icon {
    @include flex(center, center);
    gap: 8px;

    .icon {
        font-size: 20px;
    }
}

.tf-action-link {
    align-items: center;
    display: inline-flex;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 100px;
    color: var(--white);
    background: var(--text);

    .icon {
        font-size: 20px;
    }

    .text {
        margin-left: 8px;
        @include transition3;
    }


}

.tf-btn-video {
    &.btn-abs {
        position: relative;
        @include flex(center, center);

        &::after {
            position: absolute;
            content: "";
            inset: 0;
            background-color: #0000004D;
            z-index: 1;
        }

        .icon {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: var(--white);
            font-size: 20px;
            color: var(--black);
            z-index: 2;
        }
    }
}