@use "../../abstracts/index"as *;

.tf-pin-btn {
    cursor: pointer;
    @include transition3;
    position: relative;

    span {
        @include flex(center, center);
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: transparent;
        border: 8px solid var(--white);
        @include transition3;

        &::before {
            position: absolute;
            content: "";
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border: solid 1px var(--white);
            border-radius: 50%;
            @include transition3;
        }

        &::after {
            position: absolute;
            content: "";
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border: solid 1px var(--white);
            border-radius: 50%;
            @include transition3;
            animation-delay: 1s !important;
        }

        &::before,
        &::after {
            animation: ripple-line 2s linear infinite;
        }
    }

    &.number {
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        height: 32px;
        width: 32px;
        border-radius: 50%;
        background-color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #E9E9E9;

        &.show {
            background-color: var(--text);
            color: var(--white);
        }
    }

    &.style-2 {
        &.show {
            span {
                background-color: var(--text);
            }
        }
    }
}

.banner-lookbook {
    position: relative;

    .img-banner {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .lookbook-item {
        position: absolute;
    }

    .position1 {
        top: 39.5%;
        left: 28%;
    }

    .position2 {
        top: 38.8%;
        left: 83.6%;
    }

    .position3 {
        top: 46.8%;
        left: 50.7%;
    }

    .position4 {
        top: 61.2%;
        left: 32.5%;
    }

    .position5 {
        top: 51.8%;
        left: 61.7%;
    }

    .position6 {
        top: 44.4%;
        left: 33.5%;
    }

    .position7 {
        top: 63%;
        left: 21.5%;
    }

    .position8 {
        top: 61.7%;
        left: 53.9%;
    }

    .position9 {
        top: 83%;
        left: 81%;
    }

    .position10 {
        top: 69%;
        left: 24.5%;
    }

    .position11 {
        top: 42.7%;
        left: 11.9%;
    }

    .position12 {
        top: 84%;
        left: 62%;
    }

    .position13 {
        top: 9%;
        right: 67%;
    }

    .position14 {
        top: 64%;
        left: 44%;
    }

    .position15 {
        top: 9.4%;
        left: 69.5%;
    }

    .position16 {
        top: 74.2%;
        left: 27.5%;
    }

    .position17 {
        top: 84.4%;
        left: 52.5%;
    }

    .position18 {
        top: 62.4%;
        left: 42.5%;
    }

    .position19 {
        top: 29.2%;
        left: 21.5%;
    }

    .position20 {
        top: 73%;
        left: 38%;
    }

    .position21 {
        top: 76%;
        left: 74%;
    }

    .position22 {
        top: 27.2%;
        left: 39.5%;
    }

    .position23 {
        top: 48.2%;
        left: 34.5%;
    }

    .position24 {
        top: 37.8%;
        left: 44.7%;
    }

    .dropdown-menu {
        border: 0;
        border-radius: 0px;
        background-color: transparent;
        margin: 0px 0px 0px 10px !important;
    }

    .dropdown {
        &.dropstart {
            .dropdown-menu {
                &::after {
                    content: "";
                    position: absolute;
                    right: -7px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 0;
                    height: 0;
                    border-top: 10px solid transparent;
                    border-left: 8px solid var(--white);
                    border-bottom: 10px solid transparent;
                }
            }
        }

        &.dropend {
            .dropdown-menu {
                &::after {
                    content: "";
                    position: absolute;
                    left: -7px !important;
                    right: unset !important;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 0;
                    height: 0;
                    border-top: 10px solid transparent;
                    border-right: 8px solid var(--white) !important;
                    border-bottom: 10px solid transparent;
                    border-left: unset !important;
                }
            }
        }

        &.dropup {
            .dropdown-menu {
                &::after {
                    display: none;
                }
            }
        }
    }

    &.style-2 {
        .img-banner {
            min-height: 450px;
        }

        @include res(sm) {
            .lookbook-product {
                margin: 15px;
                border-radius: 8px;
            }
        }
    }

    &.style-3 {
        height: unset;

        .img-banner {
            min-height: 200px;
        }
    }

    @include res(sm, min) {
        .dropdown-menu {
            z-index: 99;
        }
    }

    @include res(lg, min) {
        .lookbook-product {
            margin: -54px 0px;
        }

        .dropdown-menu {
            margin: 0px 10px 0px 10px !important;
        }
    }

    @include res(xl, min) {
        .dropdown-menu {
            margin: 0px 25px 0px 25px !important;
        }
    }

    @include res(xl) {
        height: 600px;
    }

    @include res(lg) {
        .position2 {
            .dropdown-menu {
                margin: 0px 0px 0px -15px !important;
            }
        }
    }

    @include res(sm) {
        height: 400px;

        .img-banner {
            min-height: 400px;
        }

        .lookbook-product {
            @include transition3;
            border-radius: 0;
            width: 100%;
        }

        .dropdown-menu {
            position: fixed !important;
            top: 0 !important;
            bottom: 0 !important;
            right: 0 !important;
            left: 0 !important;
            transform: unset !important;
            margin: 0 !important;
            padding: 0 !important;
            display: flex;
            align-items: end;
            @include hidden;
            @include transition3;
            background: rgba(0, 0, 0, 0.5);

            &.show {
                @include visible;
            }

            &.pst-2 {
                align-items: start;
            }
        }
    }
}

.lookbook-product {
    padding: 12px;
    min-width: 280px;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

    .name-prd {
        margin-bottom: 4px;
    }

    .image {
        max-width: 88px;
        flex-shrink: 0;
        border-radius: 4px;
        overflow: hidden;

        img {
            aspect-ratio: 1;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    @include res(md) {
        min-width: max-content;
        gap: 12px;

        .image {
            max-width: 80px;
        }
    }

    @include res(lg) {
        min-width: 250px;
    }

    @include res(sm) {
        box-shadow: unset;
        border: 1px solid var(--line);
    }
}

.wrap-lookbook_hover {
    @include res(sm, min) {
        .lookbook-item {
            opacity: 1;
            @include transition3;
        }

        &:has(.lookbook-item:hover) {
            .lookbook-item:not(:hover) {
                opacity: 0.5;
            }
        }
    }
}