@use "../../abstracts/index"as *;



.article-blog {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;

    .blog-image {
        border-radius: 16px;
        overflow: hidden;
        position: relative;
    }

    .entry-date {
        margin-bottom: 12px;
    }

    .entry-title {
        margin-bottom: 8px;
    }

    .wrap-tags{
        position: absolute;
        left: 12px;
        top: 12px;
        z-index: 3;
        .tag{
            padding: 4px 8px;
            background-color: var(--text);
            border-radius: 4px;
            color: var(--white)
        }
    }


    &.style-list {
        .entry-desc {
            margin-bottom: 12px;
        }

        .blog-image {
            border-radius: 8px;

            @include res(sm, min) {
                max-width: 300px;
            }
        }

        &.list-v2{
            @include res(sm,min){
                flex-direction: row;
            }
        }
    }

    &.style-2 {
        border-radius: 16px;
        overflow: hidden;
        position: relative;

        img {
            min-height: 450px;
        }

        .blog-content {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 24px 28px;
            background: #00000033;
            backdrop-filter: blur(40px);

            @include res(md) {
                padding: 24px 15px;
            }
        }
    }

    @include res(xl, min) {
        gap: 24px;

        &.style-list {
            display: flex;
            align-items: center;
            flex-direction: row;
        }

        &.style-list {
            >* {
                width: 50%;
            }
        }
    }

    @include res(xxl, min) {
        &.style-list {
            >* {
                width: 100%;
            }

            .blog-image {
                max-width: 340px;
                flex-shrink: 0;
            }
        }
    }
}

.tf-page-pagination {
    display: flex;
    gap: 8px;

    .pag-item {
        width: 40px;
        height: 40px;
        border-radius: 5px;
        @include flex(center, center);
        border: 1px solid var(--line);
        font-weight: 600;

        &.active,
        &:hover {
            border-color: var(--text);
            background: var(--text);
            color: var(--white);
        }
    }
}

.blog-sidebar {
    max-width: 380px;
    margin-left: auto;
}

.sidebar-item {
    &:not(:last-child) {
        margin-bottom: 40px;
    }

    .sb-title {
        margin-bottom: 16px;
    }
}

.sb-category {
    display: grid;
    gap: 12px;

    a {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:not(:hover) {
            color: var(--text-2);
        }
    }
}

.sb-recent {
    .recent-item {
        display: flex;
        align-items: center;
        gap: 28px;

        &:not(:last-child) {
            margin-bottom: 16px;
            padding-bottom: 16px;
            border-bottom: 1px solid var(--line);
        }
    }

    .image {
        border-radius: 4px;
        overflow: hidden;
        flex-shrink: 0;

        img {
            // width: 100%;
            // height: 100%;
            object-fit: cover;
            aspect-ratio: 1;
        }
    }

    .meta-date {
        margin-bottom: 4px;
    }

    .meta-name {
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box !important;
        overflow: hidden;
    }

    @include res(lg) {
        .recent-item {
            gap: 16px;
        }
    }
}

.sb-tag {
    display: flex;
    gap: 11px;
    flex-wrap: wrap;

    a {
        padding: 4px 16px;
        border-radius: 100px;
        color: var(--text-2);
        background: var(--bg);

        &:hover {
            background: var(--primary);
            color: var(--white);
        }
    }

    @include res(lg) {
        gap: 8px;
    }
}

.btn-sidebar-mb {
    position: fixed;
    top: 30%;
    left: 0;
    z-index: 50;

    button {
        width: 40px;
        height: 40px;
        border: 1px solid var(--black);
        background-color: var(--black);
        color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;

        i {
            font-size: 20px;
        }
    }

    &.right {
        left: unset;
        right: 0;
        transform: rotate(180deg);
    }
}

.main-blog-single {

    .wg-comment {
        margin-bottom: 40px;
    }

    .blog-image {
        border-radius: 16px;
        overflow: hidden;
        margin-bottom: 60px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            min-height: 350px;
        }
    }

    .blog-content {
        display: grid;
        gap: 40px;
        margin-bottom: 40px;

        .tf-list {
            li {
                padding-left: 27px;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    inset: 0;
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    background: var(--text);
                    top: 12px;
                    left: 13px;
                }
            }
        }
    }

    .blog-heading {
        text-align: center;
        display: grid;
        place-items: center;
        gap: 16px;

        .entry-tag {
            padding: 7px 16px;
            background: var(--bg);
            display: inline-flex;
            border-radius: 100px;
        }

        .entry-meta {
            display: flex;
            align-items: center;
            gap: 16px;
        }

        .meta-item {
            display: flex;
            align-items: center;
            gap: 4px;

            .icon {
                font-size: 20px;
            }
        }
    }

    .blog-image-2 {
        border-radius: 8px;
        overflow: hidden;
    }

    .box-social-tag {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 12px;

        .social-left {
            display: flex;
            align-items: center;
            gap: 12px;
        }

        .tags-right {
            a {
                padding: 4px 16px;
                border-radius: 100px;
                color: var(--text-2);
                background: var(--bg);

                &:hover {
                    background: var(--primary);
                    color: var(--white);
                }
            }
        }

        .tf-social-icon-2 {
            a {
                width: 32px;
                height: 32px;
            }

            .icon {
                font-size: 16px;
            }
        }
    }

    .group-direc {
        display: flex;
        justify-content: space-between;
        gap: 12px;
        padding-top: 23px;
        padding-bottom: 23px;
        border-top: 1px solid var(--line);
        border-bottom: 1px solid var(--line);

        .br-line {
            height: 100%;
        }

        .btn-direc {
            display: grid;
            gap: 8px;

            &.next {
                text-align: end;
            }
        }
    }

    @include res(lg) {

        .wg-comment {
            margin-bottom: 30px;
        }

        .blog-image {
            margin-bottom: 40px;
        }

        .blog-content {
            gap: 30px;
            margin-bottom: 30px;
        }
    }
}