/* ---------------------------------------------------------
    * Name: Amerce - Multipurpose eCommerce HTML Template
    * Version: 1.0.0
    * Author: Themesflat
    * Author URI: http://themesflat.com 

	* Abstracts variable
    
    * Core CSS

    * Components

 ------------------------------------------------------------------------------ */

/*--------- Abstracts variable ---------- */
@use "abstracts/index"as abstract;

/*------------ Core CSS ---------------- */
@use "core/reset"as reset;
@use "core/typography"as typography;
@use "core/classes"as customClass;

/*------------ Component ---------------- */
@use "component/index"as component;