@use "../abstracts/index"as *;

/* General
============================================================== */

/* Margin */
.mb--20 {
    margin-bottom: -20px !important;
}

.mb-2 {
    margin-bottom: 2px !important;
}

.mb-4 {
    margin-bottom: 4px !important;
}

.mb-7 {
    margin-bottom: 7px !important;
}

.mb-8 {
    margin-bottom: 8px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-12 {
    margin-bottom: 12px !important;
}

.mb-14 {
    margin-bottom: 14px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-16 {
    margin-bottom: 16px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-24 {
    margin-bottom: 24px !important;
}

.mb-28 {
    margin-bottom: 28px !important;
}

.mb-32 {
    margin-bottom: 32px !important;
}

.mb-36 {
    margin-bottom: 36px !important;
}


.mb-40 {
    margin-bottom: 40px !important;
}

.mt-4 {
    margin-top: 4px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-14 {
    margin-top: 14px !important;
}

.mt-30 {
    margin-top: 30px;
}

/* Padding */
.pb-4 {
    padding-bottom: 4px !important;
}

.pb-20 {
    padding-bottom: 20px !important;
}

.pt-30 {
    padding-top: 30px;
}

.px-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.px-16 {
    padding-left: 16px;
    padding-right: 16px;
}

.px-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.py-4 {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.py-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Gap */
.gap-4 {
    gap: 4px !important;
}

.gap-6 {
    gap: 6px !important;
}

.gap-8 {
    gap: 8px !important;
}

.gap-10 {
    gap: 10px !important;
}

.gap-12 {
    gap: 12px !important;
}

.gap-13 {
    gap: 13px !important;
}

.gap-15 {
    gap: 15px;
}

.gap-16 {
    gap: 16px !important;
}

.gap-20 {
    gap: 20px !important;
}

.gap-21 {
    gap: 21px !important;
}

.gap-24 {
    gap: 24px !important;
}

.gap-28 {
    gap: 28px !important;
}

.gap-30 {
    gap: 30px;
}

.gap-40 {
    gap: 40px;
}

/* Spacing */
.flat-spacing {
    padding-top: 80px;
    padding-bottom: 80px;

    // @include res(xxl) {
    //     padding-top: 80px;
    //     padding-bottom: 80px;
    // }

    @include res(lg) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @include res(ssm) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.flat-spacing-2 {
    padding-top: 60px;
    padding-bottom: 60px;

    @include res(ssm) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.flat-spacing-3 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.flat-spacing-4 {
    padding-top: 48px;
    padding-bottom: 48px;

    @include res(sm) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.flat-spacing-5 {
    padding-top: 120px;
    padding-bottom: 120px;

    @include res(xxl) {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    @include res(lg) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @include res(ssm) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

/* Orther */
.text-primary {
    color: var(--primary) !important;
}

.text-secondary {
    color: var(--secondary) !important;
}

.text-white-50 {
    color: var(--white-50);
}

.text-white_20 {
    color: var(--white-20);
}

.text-white_60 {
    color: var(--white-60);
}

.cl-text-yellow {
    color: var(--yellow) !important;
}

.cl-text-main {
    color: var(--text) !important;
}

.cl-text-2 {
    color: var(--text-2) !important;
}

.cl-text-3 {
    color: var(--text-3) !important;
}

.cl-text-4 {
    color: var(--text-4) !important;
}

.cl-text-5 {
    color: var(--text-5) !important;
}

.cl-text-6 {
    color: var(--text-6) !important;
}

.cl-text-7 {
    color: var(--text-7) !important;
}

.cl-text-8 {
    color: var(--text-8) !important;
}

.cl-text-9 {
    color: var(--text-9) !important;
}

.cl-text-10 {
    color: var(--text-10) !important;
}

.cl-text-11 {
    color: var(--text-11) !important;
}

.cl-text-12 {
    color: var(--text-12) !important;
}

.cl-text-13 {
    color: var(--text-13) !important;
}

.cl-text-14 {
    color: var(--text-14) !important;
}

.cl-text-line {
    color: var(--line) !important;
}

.link {
    @include transition3;

    &:hover {
        color: var(--primary) !important;
    }
}

.link-2 {
    @include transition3;

    &:hover {
        color: var(--primary-2) !important;
    }
}

.link-black {
    @include transition3;

    &:hover {
        color: var(--black) !important;
    }
}

.link-dark {
    @include transition3;

    &:hover {
        color: var(--text) !important;
    }
}

.link-underline {
    @include transition3;
    text-decoration: underline;
    text-decoration-color: transparent;

    &:hover {
        text-decoration-color: var(--primary);
    }
}

.link-underline-white {
    @include transition3;
    text-decoration: underline;
    text-decoration-color: transparent;

    &:hover {
        text-decoration-color: var(--white);
    }
}

.link-underline-text {
    @include transition3;
    text-decoration: underline;
    text-decoration-color: transparent;

    &:hover {
        text-decoration-color: var(--text);
    }
}



.text-vertical {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.color-1 {
    color: var(--cl-1);
}

.color-2 {
    color: var(--cl-2);
}

.cs-pointer {
    cursor: pointer;
}

.max-width_1 {
    max-width: 1424px;
    width: 100%;
}

.img-cover{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gap-x-10 {
    column-gap: 10px !important;
}

.radius-3 {
    border-radius: 3px !important;
}

.radius-5 {
    border-radius: 5px !important;
}

.radius-8 {
    border-radius: 8px !important;
}

.radius-10 {
    border-radius: 10px !important;
}

.radius-12 {
    border-radius: 12px !important;
}

.radius-16 {
    border-radius: 16px !important;
}

.radius-20 {
    border-radius: 20px !important;
}

.bg-primary {
    background-color: var(--primary) !important;
}

.bg-secondary {
    background-color: var(--secondary) !important;
}

.bg-main {
    background: var(--bg);
}

.bg-main-2 {
    background: var(--bg-2);
}

.bg-main-5 {
    background: var(--bg-5) !important;
}

.bg-main-6 {
    background: var(--bg-6) !important;
}


.bg-dark {
    background-color: var(--text) !important;
}

.bg-white-2 {
    background-color: var(--bg-10);
}

.bg-white_10 {
    background: var(--white-10) !important;
}

.bg-cl-text {
    background-color: var(--text) !important;
}

.bg-surface {
    background-color: var(--surface);
}

.text-line-clamp-1 {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box !important;
    overflow: hidden;
}

.text-line-clamp-2 {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

.text-line-clamp-3 {
    -webkit-line-clamp: 3 !important;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

.aspect-ratio-0 {
    aspect-ratio: 0 !important;
}

.aspect-ratio-1 {
    aspect-ratio: 1/1 !important;
}

.aspect-ratio-0_75 {
    aspect-ratio: 0.75 !important;
}

.z-1 {
    z-index: 1;
}

.z-5 {
    z-index: 5;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.cursor-auto {
    cursor: auto;
}

.min-w-unset {
    min-width: unset !important;
}

.flex-1 {
    flex: 1;
}

.flex-unset {
    flex: unset !important;
}

.position-unset {
    position: unset !important;
}

.rounded-8 {
    border-radius: 8px !important;
}

.rounded-top-20 {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.g-5,
.gy-5 {
    --bs-gutter-y: 2rem;
}

.g-20,
.gy-20 {
    --bs-gutter-y: 20px;
}

.text-decoration-thickness {
    text-decoration-thickness: 2px !important;
}

@include res(ssm, min) {
    .d-ssm-flex {
        display: flex !important;
    }
}

@include res(md, min) {
    .h-md-100 {
        height: 100% !important;
    }
}

@include res(lg, min) {
    .gap-lg-30 {
        gap: 30px !important;
    }

    .h-lg-100 {
        height: 100% !important;
    }
}

@include res(xl, min) {
    .mt-xl-44 {
        margin-top: 44px !important;
    }

    .mb-xl-32 {
        margin-bottom: 32px !important;
    }
}

@include res(xxl, min) {

    .g-xxl_40,
    .gy-xxl_40 {
        --bs-gutter-y: 40px;
    }
}

@include res(xxl) {
    .xxl-mt-10 {
        margin-top: 10px !important;
    }
}

@include res(xl) {
    .xl-wd-full {
        grid-column: 1 / -1 !important;
    }

    .xl-gap-20 {
        gap: 20px !important;
    }
}

@include res(lg) {
    .lg-overflow-auto {
        overflow: auto !important;
    }

    .lg-mx-auto {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .lg-justify-content-center {
        justify-content: center !important;
    }
}

@include res(md) {
    .md-mb-12 {
        margin-bottom: 12px;
    }


}